* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(100, 43, 115, 1) 0%, rgba(4, 0, 4, 1) 90%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-ui {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 4rem;
}

h3 {
    color: #fff;
}

.login-register {
    display: flex;
    align-items: center;
}

input {
    display: block;
    margin-bottom: 1rem;
    width: 300px;
    padding: 1rem;
    border-radius: 12px;
    outline: none;
}

.button {
    text-align: center;
}